In [1]:
# Enable outputting results interactively. 
# All the results from code in a given cell will be displayed instead of only the last one.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import re
from datetime import datetime

from bs4 import BeautifulSoup, SoupStrainer
import requests
import pickle

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
url = "http://insideairbnb.com/get-the-data.html"

page = requests.get(url)    
data = page.text
soup = BeautifulSoup(data)

links = []
for link in soup.find_all('a'):
    links.append(link.get('href'))

In [4]:
def gather_links(city,cat):

    len(links)
    links_df = pd.DataFrame(links, columns = ['link'])
    links_df2 = links_df[links_df['link'].str.contains(city)==True]
    links_df3 = links_df2[links_df2['link'].str.contains(cat)==True]
    return links_df3

In [8]:
def readin_gz(dt,cat):
    url = 'http://data.insideairbnb.com/united-states/ca/san-francisco/{}/data/{}.csv.gz'.format(str(dt),str(cat))

    df = pd.read_csv(url,compression='gzip',header=0, sep=',', quotechar='"',dtype= {'zipcode':object})
    return df

In [14]:
links_sf_listings = gather_links('san-francisco','listings.csv.gz')
links_sf_listings['dt'] = [x.split('/')[6] for x in links_sf_listings['link']]
links_sf_listings

idx = links_sf_listings['dt'].unique()
len(idx),idx

                                                   link          dt
7795  http://data.insideairbnb.com/united-states/ca/...  2019-06-02
7802  http://data.insideairbnb.com/united-states/ca/...  2019-05-03
7809  http://data.insideairbnb.com/united-states/ca/...  2019-04-03
7816  http://data.insideairbnb.com/united-states/ca/...  2019-03-06
7823  http://data.insideairbnb.com/united-states/ca/...  2019-02-01
7830  http://data.insideairbnb.com/united-states/ca/...  2019-01-09
7837  http://data.insideairbnb.com/united-states/ca/...  2018-12-06
7844  http://data.insideairbnb.com/united-states/ca/...  2018-11-03
7851  http://data.insideairbnb.com/united-states/ca/...  2018-10-03
7858  http://data.insideairbnb.com/united-states/ca/...  2018-09-08
7865  http://data.insideairbnb.com/united-states/ca/...  2018-08-06
7872  http://data.insideairbnb.com/united-states/ca/...  2018-07-05
7879  http://data.insideairbnb.com/united-states/ca/...  2018-05-09
7886  http://data.insideairbnb.com/united-states/ca/...  2018-04-06
7893  http://data.insideairbnb.com/united-states/ca/...  2018-03-04
7900  http://data.insideairbnb.com/united-states/ca/...  2018-02-02
7907  http://data.insideairbnb.com/united-states/ca/...  2018-01-17
7914  http://data.insideairbnb.com/united-states/ca/...  2018-01-10
7921  http://data.insideairbnb.com/united-states/ca/...  2017-12-07
7928  http://data.insideairbnb.com/united-states/ca/...  2017-12-02
7935  http://data.insideairbnb.com/united-states/ca/...  2017-11-08
7942  http://data.insideairbnb.com/united-states/ca/...  2017-11-01
7949  http://data.insideairbnb.com/united-states/ca/...  2017-10-02
7956  http://data.insideairbnb.com/united-states/ca/...  2017-09-02
7963  http://data.insideairbnb.com/united-states/ca/...  2017-08-02
7970  http://data.insideairbnb.com/united-states/ca/...  2017-07-02
7977  http://data.insideairbnb.com/united-states/ca/...  2017-06-02
7984  http://data.insideairbnb.com/united-states/ca/...  2017-05-02
7991  http://data.insideairbnb.com/united-states/ca/...  2017-04-02
7998  http://data.insideairbnb.com/united-states/ca/...  2017-03-02
8005  http://data.insideairbnb.com/united-states/ca/...  2017-02-02
8012  http://data.insideairbnb.com/united-states/ca/...  2017-01-01
8019  http://data.insideairbnb.com/united-states/ca/...  2016-12-03
8026  http://data.insideairbnb.com/united-states/ca/...  2016-11-02
8033  http://data.insideairbnb.com/united-states/ca/...  2016-10-01
8040  http://data.insideairbnb.com/united-states/ca/...  2016-09-02
8047  http://data.insideairbnb.com/united-states/ca/...  2016-08-02
8054  http://data.insideairbnb.com/united-states/ca/...  2016-07-02
8061  http://data.insideairbnb.com/united-states/ca/...  2016-06-02
8068  http://data.insideairbnb.com/united-states/ca/...  2016-05-02
8075  http://data.insideairbnb.com/united-states/ca/...  2016-04-03
8082  http://data.insideairbnb.com/united-states/ca/...  2016-02-02
8089  http://data.insideairbnb.com/united-states/ca/...  2015-12-02
8096  http://data.insideairbnb.com/united-states/ca/...  2015-11-01
8103  http://data.insideairbnb.com/united-states/ca/...  2015-09-02
8110  http://data.insideairbnb.com/united-states/ca/...  2015-05-04

(46, array(['2019-06-02', '2019-05-03', '2019-04-03', '2019-03-06',
        '2019-02-01', '2019-01-09', '2018-12-06', '2018-11-03',
        '2018-10-03', '2018-09-08', '2018-08-06', '2018-07-05',
        '2018-05-09', '2018-04-06', '2018-03-04', '2018-02-02',
        '2018-01-17', '2018-01-10', '2017-12-07', '2017-12-02',
        '2017-11-08', '2017-11-01', '2017-10-02', '2017-09-02',
        '2017-08-02', '2017-07-02', '2017-06-02', '2017-05-02',
        '2017-04-02', '2017-03-02', '2017-02-02', '2017-01-01',
        '2016-12-03', '2016-11-02', '2016-10-01', '2016-09-02',
        '2016-08-02', '2016-07-02', '2016-06-02', '2016-05-02',
        '2016-04-03', '2016-02-02', '2015-12-02', '2015-11-01',
        '2015-09-02', '2015-05-04'], dtype=object))

In [15]:
listings = readin_gz(idx[0],'listings')    
listings['file_scraped_dt'] = idx[0]
listings.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,file_scraped_dt
0,958,https://www.airbnb.com/rooms/958,20190602163113,2019-06-02,"Bright, Modern Garden Unit - 1BR/1B",New update: the house next door is under const...,"Newly remodeled, modern, and bright garden uni...",New update: the house next door is under const...,none,*Quiet cul de sac in friendly neighborhood *St...,...,f,moderate,f,f,1,1,0,0,1.6,2019-06-02

In [9]:
# listings_t = listings.set_index(pd.DatetimeIndex(listings['file_scraped_dt']))
# listings_t.head(3)

In [16]:
for i, dt in enumerate(idx[1:]):
    df = readin_gz(idx[i+1],'listings')
   
    df['file_scraped_dt'] = dt
    print(dt,df['last_scraped'].value_counts())
    listings = pd.concat([listings, df], ignore_index = True,axis = 0,sort=False)

2019-05-03 2019-05-03    7353
Name: last_scraped, dtype: int64
2019-04-03 2019-04-03    7276
2019-04-05       1
Name: last_scraped, dtype: int64
2019-03-06 2019-03-06    7151
Name: last_scraped, dtype: int64
2019-02-01 2019-02-01    7198
Name: last_scraped, dtype: int64
2019-01-09 2019-01-09    7251
Name: last_scraped, dtype: int64
2018-12-06 2018-12-06    7072
Name: last_scraped, dtype: int64
2018-11-03 2018-11-03    6981
Name: last_scraped, dtype: int64
2018-10-03 2018-10-03    6807
Name: last_scraped, dtype: int64
2018-09-08 2018-09-08    6529
Name: last_scraped, dtype: int64
2018-08-06 2018-08-06    6633
Name: last_scraped, dtype: int64
2018-07-05 2018-07-05    4693
Name: last_scraped, dtype: int64
2018-05-09 2018-05-09    4774
Name: last_scraped, dtype: int64
2018-04-06 2018-04-07    3593
2018-04-06    1251
Name: last_scraped, dtype: int64
2018-03-04 2018-03-04    4802
2018-03-06       2
Name: last_scraped, dtype: int64
2018-02-02 2018-02-02    4727
Name: last_scraped, dtype: int64
2018-01-17 2018-01-17    5224
Name: last_scraped, dtype: int64
2018-01-10 2018-01-10    6506
Name: last_scraped, dtype: int64
2017-12-07 2017-12-07    6650
Name: last_scraped, dtype: int64
2017-12-02 2017-12-02    6788
2017-12-03     152
Name: last_scraped, dtype: int64
2017-11-08 2017-11-08    6866
Name: last_scraped, dtype: int64
2017-11-01 2017-11-01    8929
Name: last_scraped, dtype: int64
2017-10-02 2017-10-02    8933
Name: last_scraped, dtype: int64
2017-09-02 2017-09-02    8529
Name: last_scraped, dtype: int64
2017-08-02 2017-08-02    9057
Name: last_scraped, dtype: int64
2017-07-02 2017-07-02    8854
2017-07-03       1
Name: last_scraped, dtype: int64
2017-06-02 2017-06-02    8799
Name: last_scraped, dtype: int64
2017-05-02 2017-05-02    8608
2017-05-03     162
Name: last_scraped, dtype: int64
2017-04-02 2017-04-02    8706
Name: last_scraped, dtype: int64
2017-03-02 2017-03-02    8720
Name: last_scraped, dtype: int64
2017-02-02 2017-02-02    8777
Name: last_scraped, dtype: int64
2017-01-01 2017-01-01    9035
Name: last_scraped, dtype: int64
2016-12-03 2016-12-03    9063
2016-12-04       3
Name: last_scraped, dtype: int64
2016-11-02 2016-11-02    8864
Name: last_scraped, dtype: int64
2016-10-01 2016-10-01    8759
Name: last_scraped, dtype: int64
2016-09-02 2016-09-02    8665
Name: last_scraped, dtype: int64
2016-08-02 2016-08-02    8501
2016-08-03     109
Name: last_scraped, dtype: int64
2016-07-02 2016-07-02    8619
Name: last_scraped, dtype: int64
2016-06-02 2016-06-02    8440
Name: last_scraped, dtype: int64
2016-05-02 2016-05-02    8086
Name: last_scraped, dtype: int64
2016-04-03 2016-04-03    8012
Name: last_scraped, dtype: int64
2016-02-02 2016-02-02    8299
Name: last_scraped, dtype: int64
2015-12-02 2015-12-02    7165
Name: last_scraped, dtype: int64
2015-11-01 2015-11-02    6089
2015-11-01     940
Name: last_scraped, dtype: int64
2015-09-02 2015-09-02    6361
Name: last_scraped, dtype: int64
2015-05-04 2015-05-04    3750
2015-05-05    1675
Name: last_scraped, dtype: int64

In [40]:
# chk = listings.groupby('id')['file_scraped_dt'].size().reset_index()

# chk.sort_values(by='file_scraped_dt',ascending=False)

14    2
42    1
30    1
Name: minimum_nights, dtype: int64

In [10]:
# # listings['file_scraped_dt'].value_counts()

# m_ls = listings.resample('D').size().reset_index(name='Counts') 
# m_ls = m_ls[m_ls['Counts']>0]
# m_ls

# It appears that the data was scraped twice in each month in Nov 2017, Dec 2017, Jan 2018 prior to the deadline of the new regulations.

In [41]:
ls_cols = listings.columns

listings['is_duplicated'] = listings.duplicated(ls_cols)
listings['is_duplicated'].sum()

listings_u = listings[listings['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
listings_u.shape

0

(342365, 107)

In [47]:

chk = listings[listings['id']== 9061912]
chk[['id' ,'minimum_nights']]

             id  minimum_nights
2127    9061912              42
9718    9061912              30
281872  9061912              14
290382  9061912              14

In [12]:
# listings_u = listings_u.set_index(pd.DatetimeIndex(listings_u['last_scraped']))

# d_ls = listings_u.resample('D').size().reset_index(name='Counts') 
# d_ls[d_ls['Counts']>0]

In [13]:
pickle.dump(listings_u, open('all_SF_listings.p','wb'))

In [14]:
listings_u.shape

(342365, 107)

In [6]:
links_sf_reviews = gather_links('san-francisco','reviews.csv.gz')
links_sf_reviews['dt'] = [x.split('/')[6] for x in links_sf_reviews['link']]
links_sf_reviews.head()

idx = links_sf_reviews['dt'].unique()
len(idx),idx

                                                   link          dt
7797  http://data.insideairbnb.com/united-states/ca/...  2019-06-02
7804  http://data.insideairbnb.com/united-states/ca/...  2019-05-03
7811  http://data.insideairbnb.com/united-states/ca/...  2019-04-03
7818  http://data.insideairbnb.com/united-states/ca/...  2019-03-06
7825  http://data.insideairbnb.com/united-states/ca/...  2019-02-01

(46, array(['2019-06-02', '2019-05-03', '2019-04-03', '2019-03-06',
        '2019-02-01', '2019-01-09', '2018-12-06', '2018-11-03',
        '2018-10-03', '2018-09-08', '2018-08-06', '2018-07-05',
        '2018-05-09', '2018-04-06', '2018-03-04', '2018-02-02',
        '2018-01-17', '2018-01-10', '2017-12-07', '2017-12-02',
        '2017-11-08', '2017-11-01', '2017-10-02', '2017-09-02',
        '2017-08-02', '2017-07-02', '2017-06-02', '2017-05-02',
        '2017-04-02', '2017-03-02', '2017-02-02', '2017-01-01',
        '2016-12-03', '2016-11-02', '2016-10-01', '2016-09-02',
        '2016-08-02', '2016-07-02', '2016-06-02', '2016-05-02',
        '2016-04-03', '2016-02-02', '2015-12-02', '2015-11-01',
        '2015-09-02', '2015-05-04'], dtype=object))

In [7]:
reviews = readin_gz(idx[0],'reviews')       

for i, dt in enumerate(idx[1:]):
    df = readin_gz(idx[i+1],'reviews')
    print(dt)
    reviews = pd.concat([reviews, df], ignore_index = True,axis = 0,sort=False)

2019-05-03
2019-04-03
2019-03-06
2019-02-01
2019-01-09
2018-12-06
2018-11-03
2018-10-03
2018-09-08
2018-08-06
2018-07-05
2018-05-09
2018-04-06
2018-03-04
2018-02-02
2018-01-17
2018-01-10
2017-12-07
2017-12-02
2017-11-08
2017-11-01
2017-10-02
2017-09-02
2017-08-02
2017-07-02
2017-06-02
2017-05-02
2017-04-02
2017-03-02
2017-02-02
2017-01-01
2016-12-03
2016-11-02
2016-10-01
2016-09-02
2016-08-02
2016-07-02
2016-06-02
2016-05-02
2016-04-03
2016-02-02
2015-12-02
2015-11-01
2015-09-02
2015-05-04

In [8]:
reviews.shape

(10637387, 6)

In [9]:
rv_cols = reviews.columns

In [10]:
reviews['is_duplicated'] = reviews.duplicated(rv_cols)
reviews['is_duplicated'].sum()

reviews_u = reviews[reviews['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
reviews_u.shape

9974538

(662849, 6)

In [11]:
reviews_u.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,2009-11-05,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2010-02-13,15416,Venetia,Holly's place was great. It was exactly what I...

In [12]:
pickle.dump(reviews_u, open('all_SF_reviews.p','wb'))

In [9]:
links_sf_calendar = gather_links('san-francisco','calendar.csv.gz')
links_sf_calendar['dt'] = [x.split('/')[6] for x in links_sf_calendar['link']]
links_sf_calendar.head()

idx = links_sf_calendar['dt'].unique()
len(idx),idx

                                                   link          dt
8191  http://data.insideairbnb.com/united-states/ca/...  2019-06-02
8198  http://data.insideairbnb.com/united-states/ca/...  2019-05-03
8205  http://data.insideairbnb.com/united-states/ca/...  2019-04-03
8212  http://data.insideairbnb.com/united-states/ca/...  2019-03-06
8219  http://data.insideairbnb.com/united-states/ca/...  2019-02-01

(46, array(['2019-06-02', '2019-05-03', '2019-04-03', '2019-03-06',
        '2019-02-01', '2019-01-09', '2018-12-06', '2018-11-03',
        '2018-10-03', '2018-09-08', '2018-08-06', '2018-07-05',
        '2018-05-09', '2018-04-06', '2018-03-04', '2018-02-02',
        '2018-01-17', '2018-01-10', '2017-12-07', '2017-12-02',
        '2017-11-08', '2017-11-01', '2017-10-02', '2017-09-02',
        '2017-08-02', '2017-07-02', '2017-06-02', '2017-05-02',
        '2017-04-02', '2017-03-02', '2017-02-02', '2017-01-01',
        '2016-12-03', '2016-11-02', '2016-10-01', '2016-09-02',
        '2016-08-02', '2016-07-02', '2016-06-02', '2016-05-02',
        '2016-04-03', '2016-02-02', '2015-12-02', '2015-11-01',
        '2015-09-02', '2015-05-04'], dtype=object))

In [10]:
calendar = readin_gz(idx[0],'calendar')     
calendar['file_scraped_dt'] = idx[0]

calendar['date'] = pd.to_datetime(calendar['date'])
calendar['file_scraped_dt'] = pd.to_datetime(calendar['file_scraped_dt'])
calendar['lead_time'] = (calendar['date'] - calendar['file_scraped_dt']).dt.days
calendar = calendar[calendar['available'] == 't']

In [11]:
# Limiting calendar data to max. 180 days' lead time.

for i, dt in enumerate(idx[1:]):
    df = readin_gz(idx[i+1],'calendar')
    df['file_scraped_dt'] = dt
    
    df['date'] = pd.to_datetime(df['date'])
    df['file_scraped_dt'] = pd.to_datetime(df['file_scraped_dt'])
    df['lead_time'] = (df['date'] - df['file_scraped_dt']).dt.days
#     df2 = df[df['lead_time']<= 180]
    df2 = df[df['available'] == 't']

    print(dt, df2['file_scraped_dt'].value_counts())
    calendar = pd.concat([calendar, df2], ignore_index = True,axis = 0,sort=False)

2019-05-03 2019-05-03    1074994
Name: file_scraped_dt, dtype: int64
2019-04-03 2019-04-03    1074942
Name: file_scraped_dt, dtype: int64
2019-03-06 2019-03-06    1073787
Name: file_scraped_dt, dtype: int64
2019-02-01 2019-02-01    1087008
Name: file_scraped_dt, dtype: int64
2019-01-09 2019-01-09    1148816
Name: file_scraped_dt, dtype: int64
2018-12-06 2018-12-06    1161665
Name: file_scraped_dt, dtype: int64
2018-11-03 2018-11-03    1158180
Name: file_scraped_dt, dtype: int64
2018-10-03 2018-10-03    1098315
Name: file_scraped_dt, dtype: int64
2018-09-08 2018-09-08    1037179
Name: file_scraped_dt, dtype: int64
2018-08-06 2018-08-06    1073584
Name: file_scraped_dt, dtype: int64
2018-07-05 2018-07-05    596362
Name: file_scraped_dt, dtype: int64
2018-05-09 2018-05-09    605039
Name: file_scraped_dt, dtype: int64
2018-04-06 2018-04-06    637555
Name: file_scraped_dt, dtype: int64
2018-03-04 2018-03-04    660831
Name: file_scraped_dt, dtype: int64
2018-02-02 2018-02-02    706874
Name: file_scraped_dt, dtype: int64
2018-01-17 2018-01-17    744437
Name: file_scraped_dt, dtype: int64
2018-01-10 2018-01-10    877546
Name: file_scraped_dt, dtype: int64
2017-12-07 2017-12-07    925052
Name: file_scraped_dt, dtype: int64
2017-12-02 2017-12-02    957524
Name: file_scraped_dt, dtype: int64
2017-11-08 2017-11-08    948613
Name: file_scraped_dt, dtype: int64
2017-11-01 2017-11-01    1014725
Name: file_scraped_dt, dtype: int64
2017-10-02 2017-10-02    1004974
Name: file_scraped_dt, dtype: int64
2017-09-02 2017-09-02    954756
Name: file_scraped_dt, dtype: int64
2017-08-02 2017-08-02    1018922
Name: file_scraped_dt, dtype: int64
2017-07-02 2017-07-02    1018604
Name: file_scraped_dt, dtype: int64
2017-06-02 2017-06-02    1049417
Name: file_scraped_dt, dtype: int64
2017-05-02 2017-05-02    1065166
Name: file_scraped_dt, dtype: int64
2017-04-02 2017-04-02    1086893
Name: file_scraped_dt, dtype: int64
2017-03-02 2017-03-02    1122380
Name: file_scraped_dt, dtype: int64
2017-02-02 2017-02-02    1153137
Name: file_scraped_dt, dtype: int64
2017-01-01 2017-01-01    1240063
Name: file_scraped_dt, dtype: int64
2016-12-03 2016-12-03    1270860
Name: file_scraped_dt, dtype: int64
2016-11-02 2016-11-02    1277066
Name: file_scraped_dt, dtype: int64
2016-10-01 2016-10-01    1261395
Name: file_scraped_dt, dtype: int64
2016-09-02 2016-09-02    1245830
Name: file_scraped_dt, dtype: int64
2016-08-02 2016-08-02    1228444
Name: file_scraped_dt, dtype: int64
2016-07-02 2016-07-02    1236823
Name: file_scraped_dt, dtype: int64
2016-06-02 2016-06-02    1219299
Name: file_scraped_dt, dtype: int64
2016-05-02 2016-05-02    1209950
Name: file_scraped_dt, dtype: int64
2016-04-03 2016-04-03    1230557
Name: file_scraped_dt, dtype: int64
2016-02-02 2016-02-02    1361673
Name: file_scraped_dt, dtype: int64
2015-12-02 2015-12-02    1519330
Name: file_scraped_dt, dtype: int64
2015-11-01 2015-11-01    1490158
Name: file_scraped_dt, dtype: int64
2015-09-02 2015-09-02    1298950
Name: file_scraped_dt, dtype: int64
2015-05-04 2015-05-04    1176048
Name: file_scraped_dt, dtype: int64

In [12]:

calendar.shape

(49525194, 9)

In [13]:
cal_cols = calendar.columns
cal_cols
calendar.head()

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights', 'file_scraped_dt', 'lead_time'],
      dtype='object')

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,file_scraped_dt,lead_time
0,75422,2019-08-16,t,$40.00,$40.00,30.0,1825.0,2019-06-02,75
1,75422,2019-08-17,t,$40.00,$40.00,30.0,1825.0,2019-06-02,76
2,75422,2019-08-18,t,$40.00,$40.00,30.0,1825.0,2019-06-02,77
3,75422,2019-08-19,t,$40.00,$40.00,30.0,1825.0,2019-06-02,78
4,75422,2019-08-20,t,$40.00,$40.00,30.0,1825.0,2019-06-02,79

In [14]:
calendar['is_duplicated'] = calendar.duplicated(cal_cols)
calendar['is_duplicated'].sum()

calendar_u = calendar[calendar['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
calendar_u.shape

2322

(49522872, 9)

In [15]:
calendar_u.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,file_scraped_dt,lead_time
0,75422,2019-08-16,t,$40.00,$40.00,30.0,1825.0,2019-06-02,75
1,75422,2019-08-17,t,$40.00,$40.00,30.0,1825.0,2019-06-02,76
2,75422,2019-08-18,t,$40.00,$40.00,30.0,1825.0,2019-06-02,77
3,75422,2019-08-19,t,$40.00,$40.00,30.0,1825.0,2019-06-02,78
4,75422,2019-08-20,t,$40.00,$40.00,30.0,1825.0,2019-06-02,79

In [16]:
pickle.dump(calendar_u, open('../data/all_SF_calendar.p','wb'))

In [ ]:
# listings['has_availability'].value_counts()

In [ ]:
#  pd.crosstab(listings_u['property_type'].str.upper(), listings_u['room_type'].str.upper(), margins=True)

In [ ]:
# len(listings_u['host_id'].unique())

In [ ]:
# len(listings_u['id'].unique())

In [ ]:
# listings_u['neighbourhood'].str.upper().value_counts().reset_index()

In [ ]:
# listings_u['zipcode'] = listings_u['zipcode'].astype(str).str.zfill(5)[:-2]

In [ ]:
# listings_u = listings_u.set_index(pd.DatetimeIndex(listings_u['last_scraped']))

In [ ]:
# m_ls = listings_u.resample('M').size().reset_index(name='Counts') 
# m_ls = m_ls[m_ls['Counts']>0]
# m_ls

In [ ]:
# pd.crosstab(listings_u['last_scraped'], listings_u['has_availability'],margins=True)