In [1]:
# Enable outputting results interactively. 
# All the results from code in a given cell will be displayed instead of only the last one.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import re
from datetime import datetime

from bs4 import BeautifulSoup, SoupStrainer
import requests
import pickle

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
url = "http://insideairbnb.com/get-the-data.html"

page = requests.get(url)    
data = page.text
soup = BeautifulSoup(data)

links = []
for link in soup.find_all('a'):
    links.append(link.get('href'))

In [4]:
def gather_links(city,cat):

    len(links)
    links_df = pd.DataFrame(links, columns = ['link'])
    links_df2 = links_df[links_df['link'].str.contains(city)==True]
    links_df3 = links_df2[links_df2['link'].str.contains(cat)==True]
    return links_df3

In [5]:
def readin_gz(dt,cat,state='or',city='portland'):
    url = 'http://data.insideairbnb.com/united-states/{}/{}/{}/data/{}.csv.gz'.format(str(state),str(city),str(dt),str(cat))

    df = pd.read_csv(url,compression='gzip',header=0, sep=',', quotechar='"',dtype= {'zipcode':object})
    return df

In [6]:
links_sf_listings = gather_links('portland','listings.csv.gz')
links_sf_listings['dt'] = [x.split('/')[6] for x in links_sf_listings['link']]
links_sf_listings

idx = links_sf_listings['dt'].unique()
len(idx),idx

                                                   link          dt
7457  http://data.insideairbnb.com/united-states/or/...  2019-07-10
7464  http://data.insideairbnb.com/united-states/or/...  2019-06-07
7471  http://data.insideairbnb.com/united-states/or/...  2019-05-13
7478  http://data.insideairbnb.com/united-states/or/...  2019-04-10
7485  http://data.insideairbnb.com/united-states/or/...  2019-03-08
7492  http://data.insideairbnb.com/united-states/or/...  2019-02-06
7499  http://data.insideairbnb.com/united-states/or/...  2019-01-13
7506  http://data.insideairbnb.com/united-states/or/...  2018-12-10
7513  http://data.insideairbnb.com/united-states/or/...  2018-11-07
7520  http://data.insideairbnb.com/united-states/or/...  2018-10-09
7527  http://data.insideairbnb.com/united-states/or/...  2018-09-14
7534  http://data.insideairbnb.com/united-states/or/...  2018-08-14
7541  http://data.insideairbnb.com/united-states/or/...  2018-07-10
7548  http://data.insideairbnb.com/united-states/or/...  2018-05-13
7555  http://data.insideairbnb.com/united-states/or/...  2018-04-11
7562  http://data.insideairbnb.com/united-states/or/...  2018-02-08
7569  http://data.insideairbnb.com/united-states/or/...  2018-01-16
7576  http://data.insideairbnb.com/united-states/or/...  2017-12-09
7583  http://data.insideairbnb.com/united-states/or/...  2017-11-13
7590  http://data.insideairbnb.com/united-states/or/...  2017-10-04
7597  http://data.insideairbnb.com/united-states/or/...  2017-09-12
7604  http://data.insideairbnb.com/united-states/or/...  2017-08-06
7611  http://data.insideairbnb.com/united-states/or/...  2017-07-06
7618  http://data.insideairbnb.com/united-states/or/...  2017-06-05
7625  http://data.insideairbnb.com/united-states/or/...  2017-05-07
7632  http://data.insideairbnb.com/united-states/or/...  2017-04-07
7639  http://data.insideairbnb.com/united-states/or/...  2017-03-05
7646  http://data.insideairbnb.com/united-states/or/...  2017-02-09
7653  http://data.insideairbnb.com/united-states/or/...  2017-01-04
7660  http://data.insideairbnb.com/united-states/or/...  2016-12-08
7667  http://data.insideairbnb.com/united-states/or/...  2016-11-06
7674  http://data.insideairbnb.com/united-states/or/...  2016-10-03
7681  http://data.insideairbnb.com/united-states/or/...  2016-09-04
7688  http://data.insideairbnb.com/united-states/or/...  2016-08-04
7695  http://data.insideairbnb.com/united-states/or/...  2016-07-04
7702  http://data.insideairbnb.com/united-states/or/...  2016-06-03
7709  http://data.insideairbnb.com/united-states/or/...  2016-05-03
7716  http://data.insideairbnb.com/united-states/or/...  2016-04-05
7723  http://data.insideairbnb.com/united-states/or/...  2016-02-03
7730  http://data.insideairbnb.com/united-states/or/...  2016-01-01
7737  http://data.insideairbnb.com/united-states/or/...  2015-12-02
7744  http://data.insideairbnb.com/united-states/or/...  2015-11-02
7751  http://data.insideairbnb.com/united-states/or/...  2015-10-01
7758  http://data.insideairbnb.com/united-states/or/...  2015-09-02
7765  http://data.insideairbnb.com/united-states/or/...  2015-05-12
7772  http://data.insideairbnb.com/united-states/or/...  2015-03-01

(46, array(['2019-07-10', '2019-06-07', '2019-05-13', '2019-04-10',
        '2019-03-08', '2019-02-06', '2019-01-13', '2018-12-10',
        '2018-11-07', '2018-10-09', '2018-09-14', '2018-08-14',
        '2018-07-10', '2018-05-13', '2018-04-11', '2018-02-08',
        '2018-01-16', '2017-12-09', '2017-11-13', '2017-10-04',
        '2017-09-12', '2017-08-06', '2017-07-06', '2017-06-05',
        '2017-05-07', '2017-04-07', '2017-03-05', '2017-02-09',
        '2017-01-04', '2016-12-08', '2016-11-06', '2016-10-03',
        '2016-09-04', '2016-08-04', '2016-07-04', '2016-06-03',
        '2016-05-03', '2016-04-05', '2016-02-03', '2016-01-01',
        '2015-12-02', '2015-11-02', '2015-10-01', '2015-09-02',
        '2015-05-12', '2015-03-01'], dtype=object))

In [7]:
listings = readin_gz(idx[0],'listings')    
listings['file_scraped_dt'] = idx[0]
listings.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,file_scraped_dt
0,12899,https://www.airbnb.com/rooms/12899,20190710134442,2019-07-10,"Alberta Arts 2 bedroom suite, charming 1906 house",Settle in to a space of your own. You'll have ...,We live in a neighborhood of beautiful gardens...,Settle in to a space of your own. You'll have ...,none,We're within walking distance of a grocery and...,...,f,moderate,f,f,1,0,1,0,4.52,2019-07-10

In [17]:
# broken link for Oct-3-2016

for i, dt in enumerate(idx[1:]):
    
    if dt == '2016-10-03':
        print('bad link {}'.format(dt))
        pass
    elif dt == '2015-10-01':
        print('bad link {}'.format(dt))
        pass
    else:
        
        df = readin_gz(idx[i+1],'listings')
   
        df['file_scraped_dt'] = dt
        print(dt,df['last_scraped'].value_counts())
        listings = pd.concat([listings, df], ignore_index = True,axis = 0,sort=False)

2019-06-07 2019-06-07    5585
Name: last_scraped, dtype: int64
2019-05-13 2019-05-13    5548
Name: last_scraped, dtype: int64
2019-04-10 2019-04-10    5501
Name: last_scraped, dtype: int64
2019-03-08 2019-03-08    5355
Name: last_scraped, dtype: int64
2019-02-06 2019-02-06    5358
Name: last_scraped, dtype: int64
2019-01-13 2019-01-14    5349
Name: last_scraped, dtype: int64
2018-12-10 2018-12-10    5278
Name: last_scraped, dtype: int64
2018-11-07 2018-11-07    5314
2018-11-09       3
Name: last_scraped, dtype: int64
2018-10-09 2018-10-09    5404
2018-10-12       1
Name: last_scraped, dtype: int64
2018-09-14 2018-09-14    5286
Name: last_scraped, dtype: int64
2018-08-14 2018-08-14    5236
Name: last_scraped, dtype: int64
2018-07-10 2018-07-10    4944
Name: last_scraped, dtype: int64
2018-05-13 2018-05-14    4364
2018-05-13     422
Name: last_scraped, dtype: int64
2018-04-11 2018-04-11    4245
2018-04-12     631
Name: last_scraped, dtype: int64
2018-02-08 2018-02-08    4738
Name: last_scraped, dtype: int64
2018-01-16 2018-01-16    4166
2018-01-17     673
Name: last_scraped, dtype: int64
2017-12-09 2017-12-09    4648
Name: last_scraped, dtype: int64
2017-11-13 2017-11-13    4534
Name: last_scraped, dtype: int64
2017-10-04 2017-10-04    4473
Name: last_scraped, dtype: int64
2017-09-12 2017-09-12    4401
Name: last_scraped, dtype: int64
2017-08-06 2017-08-06    4106
Name: last_scraped, dtype: int64
2017-07-06 2017-07-06    3791
Name: last_scraped, dtype: int64
2017-06-05 2017-06-05    3693
Name: last_scraped, dtype: int64
2017-05-07 2017-05-07    3591
Name: last_scraped, dtype: int64
2017-04-07 2017-04-07    3546
2017-04-08       2
Name: last_scraped, dtype: int64
2017-03-05 2017-03-06    2827
2017-03-05     837
Name: last_scraped, dtype: int64
2017-02-09 2017-02-09    3663
Name: last_scraped, dtype: int64
2017-01-04 2017-01-04    3814
Name: last_scraped, dtype: int64
2016-12-08 2016-12-08    3810
Name: last_scraped, dtype: int64
2016-11-06 2016-11-06    3757
Name: last_scraped, dtype: int64
bad link 2016-10-03
2016-09-04 2016-09-04    3570
Name: last_scraped, dtype: int64
2016-08-04 2016-08-04    3495
Name: last_scraped, dtype: int64
2016-07-04 2016-07-04    3360
Name: last_scraped, dtype: int64
2016-06-03 2016-06-03    3259
Name: last_scraped, dtype: int64
2016-05-03 2016-05-03    3112
Name: last_scraped, dtype: int64
2016-04-05 2016-04-05    3041
Name: last_scraped, dtype: int64
2016-02-03 2016-02-03    2843
Name: last_scraped, dtype: int64
2016-01-01 2016-01-01    2850
Name: last_scraped, dtype: int64
2015-12-02 2015-12-02    2842
Name: last_scraped, dtype: int64
2015-11-02 2015-11-02    2700
Name: last_scraped, dtype: int64
bad link 2015-10-01
2015-09-02 2015-09-02    2461
Name: last_scraped, dtype: int64
2015-05-12 2015-05-12    2090
Name: last_scraped, dtype: int64
2015-03-01 2015-03-01    1959
Name: last_scraped, dtype: int64

In [18]:
# # listings['file_scraped_dt'].value_counts()

# m_ls = listings.resample('D').size().reset_index(name='Counts') 
# m_ls = m_ls[m_ls['Counts']>0]
# m_ls

# It appears that the data was scraped twice in each month in Nov 2017, Dec 2017, Jan 2018 prior to the deadline of the new regulations.

In [19]:
ls_cols = listings.columns

listings['is_duplicated'] = listings.duplicated(ls_cols)
listings['is_duplicated'].sum()

listings_u = listings[listings['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
listings_u.shape

617720

(182110, 107)

In [20]:
# listings_u = listings_u.set_index(pd.DatetimeIndex(listings_u['last_scraped']))

# d_ls = listings_u.resample('D').size().reset_index(name='Counts') 
# d_ls[d_ls['Counts']>0]

In [21]:
pickle.dump(listings_u, open('../data/all_Portland_listings.p','wb'))

In [22]:
listings_u.shape

(182110, 107)

In [23]:
links_sf_reviews = gather_links('portland','reviews.csv.gz')
links_sf_reviews['dt'] = [x.split('/')[6] for x in links_sf_reviews['link']]
links_sf_reviews.head()

idx = links_sf_reviews['dt'].unique()
len(idx),idx

                                                   link          dt
7459  http://data.insideairbnb.com/united-states/or/...  2019-07-10
7466  http://data.insideairbnb.com/united-states/or/...  2019-06-07
7473  http://data.insideairbnb.com/united-states/or/...  2019-05-13
7480  http://data.insideairbnb.com/united-states/or/...  2019-04-10
7487  http://data.insideairbnb.com/united-states/or/...  2019-03-08

(46, array(['2019-07-10', '2019-06-07', '2019-05-13', '2019-04-10',
        '2019-03-08', '2019-02-06', '2019-01-13', '2018-12-10',
        '2018-11-07', '2018-10-09', '2018-09-14', '2018-08-14',
        '2018-07-10', '2018-05-13', '2018-04-11', '2018-02-08',
        '2018-01-16', '2017-12-09', '2017-11-13', '2017-10-04',
        '2017-09-12', '2017-08-06', '2017-07-06', '2017-06-05',
        '2017-05-07', '2017-04-07', '2017-03-05', '2017-02-09',
        '2017-01-04', '2016-12-08', '2016-11-06', '2016-10-03',
        '2016-09-04', '2016-08-04', '2016-07-04', '2016-06-03',
        '2016-05-03', '2016-04-05', '2016-02-03', '2016-01-01',
        '2015-12-02', '2015-11-02', '2015-10-01', '2015-09-02',
        '2015-05-12', '2015-03-01'], dtype=object))

In [25]:
reviews = readin_gz(idx[0],'reviews')       

for i, dt in enumerate(idx[1:]):
    if dt == '2016-10-03':
        print('bad link {}'.format(dt))
        pass
    elif dt == '2015-10-01':
        print('bad link {}'.format(dt))
        pass
    else:
        df = readin_gz(idx[i+1],'reviews')
        print(dt)
        reviews = pd.concat([reviews, df], ignore_index = True,axis = 0,sort=False)

2019-06-07
2019-05-13
2019-04-10
2019-03-08
2019-02-06
2019-01-13
2018-12-10
2018-11-07
2018-10-09
2018-09-14
2018-08-14
2018-07-10
2018-05-13
2018-04-11
2018-02-08
2018-01-16
2017-12-09
2017-11-13
2017-10-04
2017-09-12
2017-08-06
2017-07-06
2017-06-05
2017-05-07
2017-04-07
2017-03-05
2017-02-09
2017-01-04
2016-12-08
2016-11-06
bad link 2016-10-03
2016-09-04
2016-08-04
2016-07-04
2016-06-03
2016-05-03
2016-04-05
2016-02-03
2016-01-01
2015-12-02
2015-11-02
bad link 2015-10-01
2015-09-02
2015-05-12
2015-03-01

In [26]:
reviews.shape

(8888043, 6)

In [27]:
rv_cols = reviews.columns

In [28]:
reviews['is_duplicated'] = reviews.duplicated(rv_cols)
reviews['is_duplicated'].sum()

reviews_u = reviews[reviews['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
reviews_u.shape

8324745

(563298, 6)

In [29]:
reviews_u.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,12899,24767,2010-01-24,69327,Stuart,"Recommended! Very good value for a spacious, a..."
1,12899,29230,2010-03-13,72846,John,Our ten days visiting in Portland were enormou...
2,12899,29806,2010-03-16,84196,Lois,We had a wonderful time staying in the area of...
3,12899,32572,2010-03-31,89114,Troy,I stayed at Ali and David's place when I first...
4,12899,32862,2010-04-02,100318,Cathy,"Clean, comfortable, quiet rooms; easygoing gen..."

In [31]:
pickle.dump(reviews_u, open('../data/all_Portland_reviews.p','wb'))

In [32]:
links_sf_calendar = gather_links('portland','calendar.csv.gz')
links_sf_calendar['dt'] = [x.split('/')[6] for x in links_sf_calendar['link']]
links_sf_calendar.head()

idx = links_sf_calendar['dt'].unique()
len(idx),idx

                                                   link          dt
7458  http://data.insideairbnb.com/united-states/or/...  2019-07-10
7465  http://data.insideairbnb.com/united-states/or/...  2019-06-07
7472  http://data.insideairbnb.com/united-states/or/...  2019-05-13
7479  http://data.insideairbnb.com/united-states/or/...  2019-04-10
7486  http://data.insideairbnb.com/united-states/or/...  2019-03-08

(46, array(['2019-07-10', '2019-06-07', '2019-05-13', '2019-04-10',
        '2019-03-08', '2019-02-06', '2019-01-13', '2018-12-10',
        '2018-11-07', '2018-10-09', '2018-09-14', '2018-08-14',
        '2018-07-10', '2018-05-13', '2018-04-11', '2018-02-08',
        '2018-01-16', '2017-12-09', '2017-11-13', '2017-10-04',
        '2017-09-12', '2017-08-06', '2017-07-06', '2017-06-05',
        '2017-05-07', '2017-04-07', '2017-03-05', '2017-02-09',
        '2017-01-04', '2016-12-08', '2016-11-06', '2016-10-03',
        '2016-09-04', '2016-08-04', '2016-07-04', '2016-06-03',
        '2016-05-03', '2016-04-05', '2016-02-03', '2016-01-01',
        '2015-12-02', '2015-11-02', '2015-10-01', '2015-09-02',
        '2015-05-12', '2015-03-01'], dtype=object))

In [33]:
# limit to observations where "available" indicates True

calendar = readin_gz(idx[0],'calendar')     
calendar['file_scraped_dt'] = idx[0]

calendar['date'] = pd.to_datetime(calendar['date'])
calendar['file_scraped_dt'] = pd.to_datetime(calendar['file_scraped_dt'])
calendar['lead_time'] = (calendar['date'] - calendar['file_scraped_dt']).dt.days
calendar = calendar[calendar['available'] == 't']

In [37]:
for i, dt in enumerate(idx[1:]):
    if dt == '2016-10-03':
        print('bad link {}'.format(dt))
        pass
    elif dt == '2015-10-01':
        print('bad link {}'.format(dt))
        pass
    else:
        df = readin_gz(idx[i+1],'calendar')
        df['file_scraped_dt'] = dt

        df['date'] = pd.to_datetime(df['date'])
        df['file_scraped_dt'] = pd.to_datetime(df['file_scraped_dt'])
        df['lead_time'] = (df['date'] - df['file_scraped_dt']).dt.days

        df2 = df[df['available'] == 't']

        print(dt, df2['file_scraped_dt'].value_counts())
        calendar = pd.concat([calendar, df2], ignore_index = True,axis = 0,sort=False)

2019-06-07 2019-06-07    728563
Name: file_scraped_dt, dtype: int64
2019-05-13 2019-05-13    733349
Name: file_scraped_dt, dtype: int64
2019-04-10 2019-04-10    745122
Name: file_scraped_dt, dtype: int64
2019-03-08 2019-03-08    729136
Name: file_scraped_dt, dtype: int64
2019-02-06 2019-02-06    765944
Name: file_scraped_dt, dtype: int64
2019-01-13 2019-01-13    795332
Name: file_scraped_dt, dtype: int64
2018-12-10 2018-12-10    777723
Name: file_scraped_dt, dtype: int64
2018-11-07 2018-11-07    766946
Name: file_scraped_dt, dtype: int64
2018-10-09 2018-10-09    768978
Name: file_scraped_dt, dtype: int64
2018-09-14 2018-09-14    748824
Name: file_scraped_dt, dtype: int64
2018-08-14 2018-08-14    723537
Name: file_scraped_dt, dtype: int64
2018-07-10 2018-07-10    653282
Name: file_scraped_dt, dtype: int64
2018-05-13 2018-05-13    649061
Name: file_scraped_dt, dtype: int64
2018-04-11 2018-04-11    685032
Name: file_scraped_dt, dtype: int64
2018-02-08 2018-02-08    717999
Name: file_scraped_dt, dtype: int64
2018-01-16 2018-01-16    757062
Name: file_scraped_dt, dtype: int64
2017-12-09 2017-12-09    749748
Name: file_scraped_dt, dtype: int64
2017-11-13 2017-11-13    716315
Name: file_scraped_dt, dtype: int64
2017-10-04 2017-10-04    706342
Name: file_scraped_dt, dtype: int64
2017-09-12 2017-09-12    698456
Name: file_scraped_dt, dtype: int64
2017-08-06 2017-08-06    645997
Name: file_scraped_dt, dtype: int64
2017-07-06 2017-07-06    587863
Name: file_scraped_dt, dtype: int64
2017-06-05 2017-06-05    581744
Name: file_scraped_dt, dtype: int64
2017-05-07 2017-05-07    586300
Name: file_scraped_dt, dtype: int64
2017-04-07 2017-04-07    606863
Name: file_scraped_dt, dtype: int64
2017-03-05 2017-03-05    643984
Name: file_scraped_dt, dtype: int64
2017-02-09 2017-02-09    671743
Name: file_scraped_dt, dtype: int64
2017-01-04 2017-01-04    734430
Name: file_scraped_dt, dtype: int64
2016-12-08 2016-12-08    734814
Name: file_scraped_dt, dtype: int64
2016-11-06 2016-11-06    738299
Name: file_scraped_dt, dtype: int64
bad link 2016-10-03
2016-09-04 2016-09-04    704374
Name: file_scraped_dt, dtype: int64
2016-08-04 2016-08-04    674746
Name: file_scraped_dt, dtype: int64
2016-07-04 2016-07-04    653583
Name: file_scraped_dt, dtype: int64
2016-06-03 2016-06-03    651938
Name: file_scraped_dt, dtype: int64
2016-05-03 2016-05-03    643435
Name: file_scraped_dt, dtype: int64
2016-04-05 2016-04-05    644904
Name: file_scraped_dt, dtype: int64
2016-02-03 2016-02-03    658790
Name: file_scraped_dt, dtype: int64
2016-01-01 2016-01-01    728764
Name: file_scraped_dt, dtype: int64
2015-12-02 2015-12-02    733648
Name: file_scraped_dt, dtype: int64
2015-11-02 2015-11-02    703536
Name: file_scraped_dt, dtype: int64
bad link 2015-10-01
2015-09-02 2015-09-02    628729
Name: file_scraped_dt, dtype: int64
2015-05-12 2015-05-12    534024
Name: file_scraped_dt, dtype: int64
2015-03-01 2015-03-01    542849
Name: file_scraped_dt, dtype: int64

In [38]:

calendar.shape

(51553340, 9)

In [39]:
cal_cols = calendar.columns
cal_cols
calendar.head()

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights', 'file_scraped_dt', 'lead_time'],
      dtype='object')

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,file_scraped_dt,lead_time
0,12899,2019-07-14,t,$65.00,$65.00,2.0,730.0,2019-07-10,4
1,12899,2019-07-15,t,$70.00,$70.00,2.0,730.0,2019-07-10,5
2,12899,2019-07-16,t,$70.00,$70.00,2.0,730.0,2019-07-10,6
3,12899,2019-07-26,t,$70.00,$70.00,2.0,730.0,2019-07-10,16
4,12899,2019-08-27,t,$70.00,$70.00,2.0,730.0,2019-07-10,48

In [40]:
calendar['is_duplicated'] = calendar.duplicated(cal_cols)
calendar['is_duplicated'].sum()

calendar_u = calendar[calendar['is_duplicated'] == False].drop(['is_duplicated'],axis=1)
calendar_u.shape

21149893

(30403447, 9)

### calendar_u.head()

In [42]:
pickle.dump(calendar_u, open('../data/all_Portland_calendar.p','wb'))

In [ ]:
# listings['has_availability'].value_counts()

In [ ]:
#  pd.crosstab(listings_u['property_type'].str.upper(), listings_u['room_type'].str.upper(), margins=True)

In [ ]:
# len(listings_u['host_id'].unique())

In [ ]:
# len(listings_u['id'].unique())

In [ ]:
# listings_u['neighbourhood'].str.upper().value_counts().reset_index()

In [ ]:
# listings_u['zipcode'] = listings_u['zipcode'].astype(str).str.zfill(5)[:-2]

In [ ]:
# listings_u = listings_u.set_index(pd.DatetimeIndex(listings_u['last_scraped']))

In [ ]:
# m_ls = listings_u.resample('M').size().reset_index(name='Counts') 
# m_ls = m_ls[m_ls['Counts']>0]
# m_ls

In [ ]:
# pd.crosstab(listings_u['last_scraped'], listings_u['has_availability'],margins=True)